<h1>Welcome to CareCloud Web Application.</h1>
<button id="about-btn">About Us</button>

<script>
  document.getElementById("about-btn").addEventListener("click", function() {
    window.location.href = "<%= about_path %>";
  });
</script>

